<div class=frag_simple data-djc-id-cxcwlnd>Fragment with JS and CSS (plain). <span id=frag-text></span></div><script>(function() {

        if (!globalThis.DjangoComponents) {
            const s = document.createElement('script');
            s.src = "/static/django_components/django_components.min.js";
            document.head.appendChild(s);
        }
        // Remove this loader script
        if (document.currentScript) document.currentScript.remove();
    
})();</script><script data-djc type=application/json>{"cssUrls__markAsLoaded": [], "jsUrls__markAsLoaded": [], "cssTags__toFetch": ["eyJ0YWciOiAibGluayIsICJhdHRycyI6IHsibWVkaWEiOiAiYWxsIiwgInJlbCI6ICJzdHlsZXNoZWV0IiwgImhyZWYiOiAiL2NvbXBvbmVudHMvY2FjaGUvU2ltcGxlRnJhZ21lbnRfZjg2MGNiLmNzcyJ9LCAiY29udGVudCI6ICIifQ=="], "jsTags__toFetch": ["eyJ0YWciOiAic2NyaXB0IiwgImF0dHJzIjogeyJzcmMiOiAiL2NvbXBvbmVudHMvY2FjaGUvU2ltcGxlRnJhZ21lbnRfZjg2MGNiLmpzIn0sICJjb250ZW50IjogIiJ9", "eyJ0YWciOiAic2NyaXB0IiwgImF0dHJzIjogeyJzcmMiOiAiL2NvbXBvbmVudHMvY2FjaGUvU2ltcGxlRnJhZ21lbnRfZjg2MGNiLjdiNzcwMC5qcyJ9LCAiY29udGVudCI6ICIifQ=="], "componentJsVars": [], "componentJsCalls": [["U2ltcGxlRnJhZ21lbnRfZjg2MGNi", "Y1hDd0xuZA==", "N2I3NzAw"]]}</script>